.home {

    main {
        padding-top: 0;
    }

    article {
        background: $grey;
        margin: 0;

        h1.entry-title {
            padding-top: 20px;
            font-size: 35px;
            border-bottom: 1px solid;
            margin-bottom: 10px;
            @media only screen and (min-width: 768px) {
                width: 50%;
            }
        }

        .entry-footer {
            border-bottom: none;
        }
    }

    .latest-posts {

        .other-story-header {
            position: relative;
            overflow: hidden;
    
            img {
                -webkit-transition: all 400ms ease-in-out;
                -moz-transition: all 400ms ease-in-out;
                -ms-transition: all 400ms ease-in-out;
                -o-transition: all 400ms ease-in-out;
                transition: all 400ms ease-in-out;
            }
            
            :hover img {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
                filter: grayscale(100%);
            }
    
            .uk-meta {
                position: absolute;
                top: 10px;
                min-width: 50px;
                background: #2f2e2dbd;
                font-size: 13px;
                color: $white;
                padding: 10px;
            }
        }
    
        a.read-more-link {
            background: -moz-linear-gradient(left, rgb(112, 201, 143) 0%, rgba(0,0,0,0) 78%, rgba(0,0,0,0) 79%);
            background: -webkit-linear-gradient(left, rgb(112, 201, 143) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 79%);
            background: linear-gradient(to right, rgb(112, 201, 143) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 79%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
            padding: 3px;
        }
    }

    .mission-vision {
        background: $primary-color;
        color: $white;

        .serv-container {
            padding-bottom: 80px;
        }

        h2 {
            border-bottom: 1px solid;
            width: 95%;
            color: $white;
            padding: 0 0 10px;
        }

    }

    .contact-us {
        background: $dark-grey;
        padding-bottom: 50px;
        position: relative;
        overflow: hidden;

        .skinny-ninjah-contact-form .ninjah-input {
            background: transparent;
        }

        .title-wrap {
            display: inline-block;
            position: absolute;
            top: 0px;
            left: 48%;
            height: 45px;
            width: 200px;
            background-color: $primary-color;
            margin-left: -60px;


            h1 {
                color: $white;
                text-transform: uppercase;
                padding-top: 0;
                font-size: 25px;
                position: absolute;
                z-index: 999;
            }

            &::before {
                content: '';
                position: absolute;
                left: -130px;
                bottom: 0px;
                width: 100px;
                height: 155px;
                background: $primary-color;
                border-bottom: 2px solid $white;
                border-left: 3px solid $white;
                -webkit-transform: skewX(40deg);
                -moz-transform: skewX(40deg);
                -ms-transform: skewX(40deg);
                -o-transform: skewX(40deg);
                transform: skewX(40deg);
                z-index: 501;
            }

            &::after {
                content: '';
                position: absolute;
                right: -130px;
                bottom: 0px;
                width: 100px;
                height: 155px;
                background: $primary-color;
                border-bottom: 2px solid $white;
                border-right: 3px solid $white;
                -webkit-transform: skewX(-40deg);
                -moz-transform: skewX(-40deg);
                -ms-transform: skewX(-40deg);
                -o-transform: skewX(-40deg);
                transform: skewX(-40deg);
                z-index: 500;
            }
        }
    }

    .sponsors {
        background: $grey;

        svg {
            color: $primary-color;
            padding: 10px;
            border: 1px solid $primary-color;
        }
    }
}