.loaded {

    h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
        font-family: $main_font;
        font-weight: 500;
    }

    main {
        padding-top: 15px;
    }

    h1.page-title {
        font-size: 35px;
    }

    .breadcrumbs {
        background: url(/wp-content/themes/sapawu/src/images/bg.jpg) no-repeat;
        border-bottom: 3px solid $secondary-color;
        background-size: cover;

        span {
            color: $white;

            a {
                font-weight: bold;
                color: $secondary-color;
            }
        }
    }

    .skinny-ninjah-contact-form {
        margin: 55px auto 25px;
    }

    hr {
        background-color: transparent;
    }
}

body, button, input, select, optgroup, textarea {
    font-family: $main_font !important;
    font-size: 14px !important;
}
