.footer-wrapper footer#colophon {
    background: $primary-color !important;

    h2.widget-title {
        border-bottom: 1px solid;
        color: $white;
        @media only screen and (min-width: 640px) {
            width: 60%;
        }
        text-transform: uppercase;
    }

    .footer-top {

        a {
            color: $white;
        }
    }

    .footer-bottom {
        background: $footer-strip;
        color: $white;
        margin-bottom: 20px;
    }

    .menu {
        padding-left: 0;
        margin: 0;

        li {
            display: block;

            a {
                padding: 5px;
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 640px) {
    div#content {
        margin-bottom: 350px !important;
    }
}

