.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a, .main-navigation .current-menu-ancestor > a.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a, .main-navigation .current-menu-ancestor > a {
    background: $secondary-color;
}

.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a {
    color: $white !important;
}

.main-navigation {

    li {

        a {
            padding: 0 15px !important;
            color: $white;

            &:visited {
                color: $white;
            }
        }

        &:hover span {
            color: $secondary-color !important;
        }

        &.current-menu-item:hover span {
            color: $dark-grey !important;
        }
    }

    .uk-navbar-toggle {
        color: $secondary-color;
        border: 1px solid;
        padding: 0px 20px;
        height: 40px;
        cursor: pointer;
    }    
}

//Off canvas
.uk-offcanvas-bar {
    .sn_logo-link {
        display: block;
        margin-top: 40px;
        text-align: center;

        img.sn_logo {
            max-width: 50%;
        }
    }
}