/** Slider **/

.home-slider {
    width: 100%;
    position: relative;
    overflow: hidden;

    .slides li {
      height: auto !important;
      list-style: none;

      article {
         margin-bottom: 0;
     }

      img {
         width: 100%;
      }
   }
}

.go-down {
   position: absolute;
   bottom: 35px;
   right: 50%;
   z-index: 999;
}


.wk-slideshow-default .nav { 
   margin-top: -30px !important; 
   z-index: 999 !important; 
   position: relative; 
   margin-bottom: 9px !important;
}
.slider .widget { 
   margin: 0 !important;
}
.wk-slideshow-default > div:hover .next, .wk-slideshow-default > div:hover .prev { 
   //background: url('../../images/buttons.png'); 
   z-index:6;
}
.wk-slideshow-default > div:hover .next  { 
   background-position: 0px -50px !important;
}

.caption {
   bottom: 45% !important;
   width: 30%;
   left: 10% !important;

   h3 {
      background: $secondary-color;
   }
}
